In [2]:
import pandas as pd

##### Read data from a file.

In [3]:
adult_df = pd.read_csv("adult.data.csv")

adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### How many of each race are represented in this dataframe?

In [4]:
number_of_races = adult_df["race"].value_counts()

number_of_races

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### What is the average age of men?

In [5]:
average_age_men = round(adult_df[adult_df["sex"] == "Male"]["age"].mean(), 1)

average_age_men

39.4

##### What is the percentage of people who have a Bachelor's degree?

In [6]:
percentage_bachelors = round((adult_df[adult_df["education"] == "Bachelors"].shape[0] / adult_df.shape[0]) * 100, 1)

percentage_bachelors

16.4

##### What percentage of people with advanced education (Bachelor's, Master's, Doctorate) make more than 50K?

In [7]:
education = ["Bachelors", "Masters", "Doctorate"]
higher_education = adult_df[adult_df["education"].isin(education)]
rich_higher_education = higher_education[higher_education["salary"] == ">50K"]
percentage_rich_higher_education = round((rich_higher_education.shape[0] / higher_education.shape[0]) * 100, 1)

percentage_rich_higher_education

46.5

##### What percentage of people without advanced education make more than 50K?

In [8]:
lower_education = adult_df[~adult_df["education"].isin(education)]
rich_lower_education = lower_education[lower_education["salary"] == ">50K"]
percentage_rich_lower_education = round((rich_lower_education.shape[0] / lower_education.shape[0]) * 100, 1)

percentage_rich_lower_education

17.4

##### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [9]:
min_work_hours = adult_df["hours-per-week"].min()

min_work_hours

1

##### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [10]:
num_min_workers = adult_df[adult_df["hours-per-week"] == min_work_hours]
num_min_workers_rich = num_min_workers[num_min_workers["salary"] == ">50K"]
num_min_workers_rich_percentage = round((num_min_workers_rich.shape[0] / num_min_workers.shape[0]) * 100, 1)

num_min_workers_rich_percentage

10.0

##### What country has the highest percentage of people that earn >50K?

In [11]:
grouped_by_country = adult_df.groupby("native-country")
grouped_by_country_rich = grouped_by_country["salary"].apply(lambda x: (x == ">50K").mean() * 100)
highest_earning_country = grouped_by_country_rich.idxmax()

highest_earning_country

'Iran'

##### Identify the most popular occupation for those who earn >50K in India.

In [12]:
grouped_by_country_india = adult_df[adult_df["native-country"] == "India"]
grouped_by_country_india_rich = grouped_by_country_india[grouped_by_country_india["salary"] == ">50K"]
most_popular_occupation = grouped_by_country_india_rich["occupation"].mode()[0]

most_popular_occupation

'Prof-specialty'